body{
    background-image: url("https://images3.alphacoders.com/589/589870.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 50px auto;
    color: white;
}
table{
    width: 60%;
    height: 400px;
    margin: 10px 0 0 300px;
    background-color: aliceblue;
    border: 3px solid black;
    border-collapse: collapse;
    color: black;
}
.footer{
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: gray;
    padding: 20px;
    position: fixed;
    bottom: 0;
}

