body{
    margin: 0 auto;
}
img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.abc{
    display: flex;
    background-color:deepskyblue;
    font-size: 25px;
    justify-content: space-around;
    color: white;
    padding: 20px 200px;
}
.sabyr {
    display: flex;
    justify-content: space-evenly;
    margin-left: -100px;
}
caption {
    font-size: 30px;
    margin-bottom: 20px;
}
td{
    text-align: center;
}
table{
    width: 500px;
    height: 200px;
}
.text{
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
}
textarea{
    width: 90%;
    margin-left: 75px;
    height: 200px;
}